<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>

    <section class="hero">
        <nav>
            <div class="logo">
                <img src="./assets/logo.webp" alt="">
            </div>

            <ul class="nav_items">
                <li>HOME</li>
                <li>ABOUT</li>
                <li>SERVICES</li>
                <li>OTHER PAGES</li>
                <li>BLOG</li>
                <li>CONTACT</li>
            </ul>
        </nav>

        <hr>

        <div class="content">
            <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, eaque?</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque optio officia corrupti minima vel quas numquam adipisci omnis laborum voluptatem.</p>
            <div>
                <button>Our Services</button>
                <button>Get A Quote</button>
            </div>
        </div>
    </section>

</body>

</html>