* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    font-size: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

nav ul li {
    cursor: pointer;
}

i {
    padding-left: 5px;
    transition: all 1s;
}

.box {
    display: none;
    background-color: black;
    color: white;
    padding: 10px 0;
    width: 17%;
    flex-direction: column;
    gap: 13px;
    position: absolute;
    left: 38%;
    transition: all 2s;
}

.box li {
    padding-left: 10px;
}

.box li:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

@media only screen and (max-width: 400px) {
    nav ul {
        flex-direction: column;
    }
}